<div> Welcome <%= @name %> </div>

Search any movie, as long as there's a Ryan in it

<form action="/search" method="get">
<input name="q" placeholder="ex. Drive, The Notebook">
<button>Gosify</button>
</form>