html {
	background: url('../background.jpg') no-repeat center center fixed;

}

body {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;

}

li {
	color: red;
	list-style: none;
	padding-left: 200px;
	padding-right: 200px;
}